form.login-form{margin-top: 150px;}
div.alert-box p{font-size: 1.1em; margin: 0;}
div.alert-box.sucess{background: #52b952; border: 1px solid #538753;}
.breadcrumb{margin: 15px 0;}

.espaco{margin-right: 10px;}

/*tabelas*/
table.data-table{margin-bottom: -2px!important;}
a.table-actions{width: 22px;height: 22px; display:inline-block;background-position: center center;background-repeat: no-repeat;margin-right: 15px; }
.table-edit{background: url("../images/sistema/icones/edit-icon.png");}
.table-pass{background: url("../images/sistema/icones/pass-icon.png");}
.table-delet{background: url("../images/sistema/icones/trash-icon.png");}
.table-view{background: url("../images/sistema/icones/lupa.png"); background-size:100%;}

th.sorting_asc{background: url("../images/sistema/icones/img-asc.png") 98% center no-repeat;}
th.sorting_desc{background: url("../images/sistema/icones/img-desc.png") 98% center no-repeat;}

/*inputs*/
input[type="file"]{font-size: 14px;padding: 6px; background: #7D7D7D; border: 1px solid #ccc; border-radius: 6px;}

#cke_html-editor{margin-bottom: 25px;}